<!-- Start Contact -->
<div id="contact" class="page">
  
  <div class="heading">
    <h3>Contact</h3>
    <div class="section_icon">
      <span class="icon">&#9993;</span>
    </div>
  </div>
  
  <div class="content">
    <p>If you have any questions about our registry, rsvps, accommodations or anything at all, please don't hesitate to get in touch with us!</p>   
  </div>
  
  <div class="form">
      
      <div class="validation">
        <p>Oops! Please correct the highlighted fields...</p>
      </div>

      <div class="success">
        <p>Thanks! I'll get back to you shortly.</p>
      </div>
      
      <form action="javascript:;" method="post" id="contact_form">
        <div class="row">
          <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </p>
          <p>
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" />
          </p>
        </div>
      
        <div class="row">
          <p>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </p>
          <p>
            <select name="subject">
              <option value="select">Subject</option>
              <option value="registry">Registry</option>
              <option value="rsvp">RSVP</option>
              <option value="accomodations">Accommodations</option>
            </select>
          </p>
        </div>
        <p>
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
        </p>
        <input type="submit" class="button" value="SEND" />
      </form>
    </div>
</div>
<!-- End Contact -->