<!-- Start Footer -->
<footer class="container">
  <p>Wedlock &copy; 2013. All Rights Reserved.</p>
  <!-- Start Social Icons -->
  <div class="right">   
    <ul class="social_icons">
      <li><a href="#" rel="tipsy" title="Facebook">&#62221;</a></li>
      <li><a href="#" rel="tipsy" title="Twitter">&#62230;</a></li>
      <li><a href="#" rel="tipsy" title="Flickr">&#62212;</a></li>
      <li><a href="#" rel="tipsy" title="Vimeo">&#62215;</a></li>
      <li><a href="#" rel="tipsy" title="Google+">&#62224;</a></li>
    </ul>
  </div>
  <!-- End Social Icons -->
</footer>
<!-- End Footer -->