<!-- Start Gallery -->
<div id="gallery" class="page">
  
  <div class="heading">
    <h3>Gallery</h3>
    <div class="section_icon">
      <span class="icon">&#128247;</span>
    </div>
  </div>
  
  <div class="content">
            
    <!-- Start Elastislide  Gallery Carousel -->
    <ul id="gallery_slider" class="elastislide-list">
      <li><a href="images/gallery/gallery-1.jpg" class="fancybox"><img src="images/gallery/gallery-1.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-2.jpg" class="fancybox"><img src="images/gallery/gallery-2.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-3.jpg" class="fancybox"><img src="images/gallery/gallery-3.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-4.jpg" class="fancybox"><img src="images/gallery/gallery-4.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-5.jpg" class="fancybox"><img src="images/gallery/gallery-5.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-6.jpg" class="fancybox"><img src="images/gallery/gallery-6.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-7.jpg" class="fancybox"><img src="images/gallery/gallery-7.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-8.jpg" class="fancybox"><img src="images/gallery/gallery-8.jpg" alt="" /></a></li>
      <li><a href="images/gallery/gallery-9.jpg" class="fancybox"><img src="images/gallery/gallery-9.jpg" alt="" /></a></li>
    </ul>
    <!-- End Elastislide Gallery Carousel -->

  </div>
  
</div>
<!-- End Gallery -->