<!-- Start Intro -->
<section id="intro" class="container">
  
  <!-- Start Logo Text Version -->
  <div id="logo_wrap">    
    <h1>
    <span>Lilian</span>
      <span>Barnes</span>
      <span class="circle_1">
        <span class="circle_2">
          &amp;
        </span>
      </span>     
      <span>Brian</span>
      <span>Author</span>
    </h1> 
  </div>
  <!-- End Logo Text Version -->
  
  <!-- Start Logo Image Version -->
  <img class="logo" src="images/logo.png" alt="Lilian &mp; Bryan's Wedding" />
  <!-- Start Logo Image Version -->
  
  <span class="double_line"></span>
  <p>Invite you to celebrate their wedding</p>
  <span class="double_line"></span>
  
  <div class="date">
    <em>June 1st, 2013</em>
    <span>in</span>
    <em>San Francisco, CA</em>
  </div>
  
  <!-- Start Nivo Slider -->
  <div class="slider-wrapper theme-light">
      <div id="slider" class="nivoSlider">
          <img src="images/slider_images/slider_1.jpg" alt="" />
          <a href="http://t2themes.com/"><img src="images/slider_images/slider_2.jpg" alt="" title="" /></a>
          <img src="images/slider_images/slider_3.jpg" alt="" title="" />
          <img src="images/slider_images/slider_4.jpg" alt="" />
          <img src="images/slider_images/slider_5.jpg" alt="" />
          <img src="images/slider_images/slider_6.jpg" alt="" />
      </div>
  </div>
  <div id="htmlcaption" class="nivo-html-caption">
      <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
  </div>
  <!-- End Nivo Slider -->
  
  <!-- Start Comment Out To Use Static Image -->
  <!-- <img src="images/main.jpg" alt="" /> -->
  <!-- End Comment Out To Use Static Image -->
  
</section>
<!-- End Intro -->