<!-- Start The Party -->
<div id="party" class="page">
  
  <div class="heading">
    <h3>Wedding Party</h3>
    <div class="section_icon">
      <span class="icon">&#128101;</span>
    </div>
  </div>
  
  <div class="content">
    
    <div class="bridesmaids">
      <h4>Bridesmaids</h4>
      <ul class="people">
        <li>
          <a href="javascript:;" data-bio="Brooke and Lilian grew up together in Kansas. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam."><img src="images/party/girl-1.png" alt="" /></a>
          <span>Brooke Walton</span>
        </li>
        <li>
          <a href="javascript:;" data-bio="Jenny has known Lilian since high school. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes."><img src="images/party/girl-2.png" alt="" /></a>
          <span>Jenny Jones</span>
        </li>
        <li class="current">
          <a href="javascript:;" data-bio="Lisa is the sister of the bride. Malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non."><img src="images/party/girl-3.png" alt="" /></a>
          <span>Lisa Carney</span>
        </li>
        <li>
          <a href="javascript:;" data-bio="Vanessa is Lilian's sister in-law. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit."><img src="images/party/girl-4.png" alt="" /></a>
          <span>Vanesssa Lima</span>
        </li>
        <li>
          <a href="javascript:;" data-bio="Trisha is Lilian's best-friend and co-worker. Malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non."><img src="images/party/girl-5.png" alt="" /></a>
          <span>Trisha Tommlin</span>
        </li>
      </ul>

      <!-- Start Bio Container (content is added with javascript) -->
      <div class="bio"></div>
      <!-- End Bio Container (content is added with javascript) -->
    </div>
    
    <div class="groomsmen">
      <h4>Groomsmen</h4>
      <ul class="people">
        <li>
          <a href="javascript:;" data-bio="Bob and Brian were on the same soccer team. Malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non."><img src="images/party/guy-1.png" alt="" /></a>
          <span>Bob Graham</span>
        </li>
        <li>
          <a href="javascript:;" data-bio="Thomas and Brian met freshman year of college and have been in a perpetual bromance ever since. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum."><img src="images/party/guy-2.png" alt="" /></a>
          <span>Thomas Harper</span>
        </li>
        <li class="current">
          <a href="javascript:;" data-bio="Best buds since high school, Dillon is Brian's right hand man for wild and crazy adventures. Malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo."><img src="images/party/guy-3.png" alt="" /></a>
          <span>Dillon Douglas</span>
        </li>
        <li>
          <a href="javascript:;" data-bio="Sven and Brian met while studying abroad in Spain. Malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero."><img src="images/party/guy-4.png" alt="" /></a>
          <span>Sven Bishop</span>
        </li>
        <li>
          <a href="javascript:;" data-bio="Brian is Brian's cousin. Malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non."><img src="images/party/guy-5.png" alt="" /></a>
          <span>Brian Green</span>
        </li>
      </ul>

      <!-- Start Bio Container (content is added with javascript) -->
      <div class="bio"></div>
      <!-- End Bio Container (content is added with javascript) -->
    </div>
    
  </div>
  
</div>
<!-- End The Party -->