<!-- Start Registry -->
<div id="registry" class="page">
  
  <div class="heading">
    <h3>Registry</h3>
    <div class="section_icon">
      <span class="icon">&#59148;</span>
    </div>
  </div>
  
  <div class="content">
    <p>Your presence not your presents is all we request. But if you feel so inclined, we are registered at the following locations. 
    Click on a store logo to view our registry list.</p>
    
    <!-- Start Elastislide  Registry Carousel -->
    <ul id="registry_slider" class="elastislide-list">
      <li><a href="http://www.google.com/"><img src="images/registry/logo-1.png" alt="" /></a></li>
      <li><a href="http://www.google.com/"><img src="images/registry/logo-2.png" alt="" /></a></li>
      <li><a href="http://www.google.com/"><img src="images/registry/logo-3.png" alt="" /></a></li>
      <li><a href="http://www.google.com/"><img src="images/registry/logo-4.png" alt="" /></a></li>
      <li><a href="http://www.google.com/"><img src="images/registry/logo-5.png" alt="" /></a></li>
    </ul>
    <!-- End Elastislide Registry Carousel -->
    
  </div>
  
</div>
<!-- End Registry -->