<!-- Start The Story -->
<div id="the_story" class="page">

  <div class="heading">
    <h3>The Story Of Us</h3>
    <div class="section_icon">
      <span class="icon">&hearts;</span>
    </div>
  </div>
  
  <div class="content">
    
    <div class="bride">
      <span class="subtitle">Bride</span>
      <h2>Lilian Barnes</h2>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascettvur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida Donec id elit.</p>
    </div>
    
    <div class="groom">
      <span class="subtitle">Groom</span>
      <h2>Brian Author</h2>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida Donec id elit.</p>
    </div>
    
    <div class="story">
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla cras justo odio, dapibus.</p>
    </div>
    
  </div>

</div>
<!-- End The Story -->