<!-- Start Travel -->
<div id="travel" class="page">
  
  <div class="heading">
    <h3>Travel</h3>
    <div class="section_icon">
      <span class="icon">&#128188;</span>
    </div>
  </div>
  
  <div class="content">
    
    <div class="hotels">
      <h4>Hotels</h4>
      
       <img src="images/hotel.jpg" alt="" />
      
      <address>
        <b>Campton Resort</b>
        (800) 222-3456 ex 5100 <br/>
        San Francisco, CA 33131 USA 
        <a href="#" class="directions"><span class="icon">&#59172;</span> Get Directions</a>
      </address>
      
      <div class="discount">
        <b>Group Code:</b>
        <span>3HY7P9</span>
        <em>Applies to all accommodation types</em>
      </div>
    </div>
    
    <div class="airports">
      <h4>Airports</h4>
      
      <!-- Start Elastislide Airport Carousel -->
      <ul id="airport_slider" class="elastislide-list">
        <li>
          <a href="#">
          <img src="images/airports/sfo.jpg" alt="" />
          </a>
          <address>
            <b>San Francisco International Airport (SFO)</b> 
            San Francisco, California 49512
            <a href="http://goo.gl/maps/LVS17" class="directions"><span class="icon">&#59172;</span> Get Directions</a>
          </address>  
        </li>
        <li>
          <a href="#">
          <img src="images/airports/dtw.jpg" alt="" />
          </a>
          <address>
            <b>Detroit Metropolitan Airport (DTW)</b>
            Detroit, MI 48242
            <a href="http://goo.gl/maps/OV0EZ" class="directions"><span class="icon">&#59172;</span> Get Directions</a>
          </address>
        </li>
        <li>
          <a href="#">
          <img src="images/airports/tvc.jpg" alt="" />
          </a>
          <address>
            <b>Cherry Capital Airport (TVC)</b> 
            Traverse City, Michigan 49686
            <a href="http://goo.gl/maps/5EP53" class="directions"><span class="icon">&#59172;</span> Get Directions</a>
          </address>
        </li>   
      </ul>     
      <!-- End Elastislide Airport Carousel -->

    </div>
    
  </div>
  <div class="clear"></div>
  
</div>
<!-- End Travel -->