<!-- Start Venue -->
<div id="venue" class="page">
  
  <div class="heading">
    <h3>Venue</h3>
    <div class="section_icon">
      <span class="icon">&#8962;</span>
    </div>
  </div>
  
  <div class="content">

    <!-- Start Elastislide Venue Carousel -->
    <ul id="venue_slider" class="elastislide-list">
      <li>
        <a href="#"><img src="images/venue/1.jpg" alt="" /></a>
        <span class="caption">Campton Resort and Spa</span>   
      </li>
      <li>
        <a href="#"><img src="images/venue/2.jpg" alt="" /></a>
        <span class="caption">Spa and Lounges</span>    
      </li>
      <li>
        <a href="#"><img src="images/venue/3.jpg" alt="" /></a>
        <span class="caption">Complimentary Massages</span>   
      </li>
      <li>
        <a href="#"><img src="images/venue/4.jpg" alt="" /></a>
        <span class="caption">Zen Gardens</span>    
      </li>
      <li>
        <a href="#"><img src="images/venue/5.jpg" alt="" /></a>
        <span class="caption">Five Star Meals</span>    
      </li>
    </ul>     
    <!-- End Elastislide Venue Carousel -->
      
    <div class="venue_details">
      <ul>
        <li>
          <h5><b>Address</b></h5>
          <div class="info">
            3400 Campton Resort Dr. <br/>
            San Francisco, California 49683
          </div>
        </li>
        <li>
          <h5><b>Ceremony</b></h5>
          <div class="info">
            June 1st, 2013 @ 5pm 
          </div>
        </li>
        <li>
          <h5><b>Reception</b></h5>
          <div class="info">
            June 1st, 2013 @ 6pm 
            <p>
              5 course dinner <br/>
              Open bar <br/>
              Bring your dancing shoes!
            </p>
          </div>
        </li>
      </ul>
    </div>
    
  </div>
<div class="clear"></div>
</div>  
<!-- End Venue -->